.CFUserTextEncoding
.DS_Store
.Trash
.cache
.cargo
.config/raycast
.composer
.cups
.dlv
.docker
.esets
.fleet
.gitconfig
.lesshst
.local
.mysql_history
.npm
.nuget
.nvm
.oh-my-zsh
.profile
.python_history
.rustup
.ssh
.viminfo
.zcompdump-*
.zprofile
.zsh_history
.zsh_sessions
.zshenv
/Applications
/Desktop
/Development
/Documents
/Downloads
/Exports
/Library
/Movies
/Music
/Pictures
/Public
/SecondBrain
/Onedrive*
/go
